@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';
@import '../components/tiptap-templates/simple/simple-editor.scss';
@import '../components/tiptap-ui-primitive/button/button.scss';
@import '../components/tiptap-ui-primitive/button/button-colors.scss';
@import '../components/tiptap-ui-primitive/button/button-group.scss';
@import '../components/tiptap-ui-primitive/toolbar/toolbar.scss';
@import '../components/tiptap-ui-primitive/separator/separator.scss';
@import '../components/tiptap-ui-primitive/dropdown-menu/dropdown-menu.scss';
@import '../components/tiptap-ui-primitive/popover/popover.scss';
@import '../components/tiptap-ui-primitive/tooltip/tooltip.scss';
@import '../components/tiptap-node/code-block-node/code-block-node.scss';
@import '../components/tiptap-node/list-node/list-node.scss';
@import '../components/tiptap-node/image-node/image-node.scss';
@import '../components/tiptap-node/paragraph-node/paragraph-node.scss';
@import '../components/tiptap-node/image-upload-node/image-upload-node.scss';
@import '../components/tiptap-ui/color-highlight-popover/color-highlight-popover.scss';
@import '../components/tiptap-ui/color-highlight-button/color-highlight-button.scss';
@import '../components/tiptap-ui/link-popover/link-popover.scss';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} 